@import "../scss/variables";

.blog{
    padding: $three-rem $one-rem;
    background: $very-light-gray;

    @media (min-width: 1024px) {
        padding: 6.25rem $four-rem;
    }

    &__title{
        margin-bottom: 1.875rem;

        @media (min-width: 768px) {
            margin-bottom: 3.125rem;
        }
    }

    &__card-group{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .articleCard{
            border-radius: 5px;
            background: $white;
            overflow: hidden;

            &__head{
                height: 12.5rem;

                .card-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__body{
                padding: $one-rem;

                .author{
                    font-size: 0.625rem;
                    color: $grayish-blue;
                    margin-bottom: 0.625rem;
                }

                .title{
                    font-size: 1rem;
                    font-weight: 400;
                    color: $dark-blue;
                    margin-bottom: 0.625rem;
                    transition: 0.25s ease;

                    :hover{
                        color: $lime-green;
                    }
                }

                .text{
                    font-size: 0.81rem;
                    color: $grayish-blue;
                    line-height: 1.5;
                }
            }
        }
    }
}