@import "./scss/variables";

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

html{
    font-family: "Public Sans", sans-serif;
    scroll-behavior: smooth;
    background: $very-light-gray;
}

img, span, svg{
    display: block;
}


.container{
    max-width: 1440px;
    margin: auto;
}


/* Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    background: $white;
    
    @media (min-width: 1024px) {
        position: static;
    }
}
