
// Colors
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$grayish-blue: hsl(233, 8%, 62%);
$bright-cyan: hsl(192, 70%, 51%);
$lime-green: hsl(136, 65%, 51%);
$dark-blue: hsl(233, 26%, 24%);
$white: hsl(0, 0%, 100%);

//Spacing

$one-rem: 1.25rem;
$two-rem: 2.5rem;
$three-rem: 3.75rem;
$four-rem: 5rem;
$five-rem: 6.25rem;

/* Mixin */
@mixin flex($flex-direction, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
}